/* Team Page Custom Styles */
.team-grid {
    margin-top: 50px;
    max-width: 100%;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.team-grid > .items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-items: center;
    text-align: center;
    width: 100%;
    min-height: fit-content;
    height: 500px;
    box-shadow: 0 0 100px 1px var(--bg-accent);
    border-radius: var(--rad-lg);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.team-grid > :nth-child(even) {
    direction: rtl;
}

.team-grid > .items > .left{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.team-grid img {
    width: 50%;
}

.tag {
    position: absolute;
    left: 15px;
    top: 15px;
    width: fit-content;
    height: auto;
    min-height: fit-content;
    background-color: var(--glass-white);
    display: flex;
    justify-content: center;
    padding: 10px 16.67px 5px 16.67px; /*HALTS MAUL NUTTE ES GEHT NED BESSA*/
    border: 2px solid var(--neon-purple);
    border-radius: var(--rad-md);
    cursor: pointer;
    transition: var(--transition);
    box-shadow: 0 0 100px 1px var(--bg-accent);
    font-family: var(--font-mono);
}
.tag:hover {
    background-color: var(--glass-border);
}

span {
    text-align: justify;
    line-height: 200%;
    font-weight: 600;
    padding: 0 50px;
}

.items > .left > h1 {
    white-space: normal !important;
    overflow-wrap: break-word !important;
    word-break: break-word !important;
    line-height: 0.9;
    letter-spacing: 3px;
}